body{
    margin: 0;
    padding: 0;
    background-color: #555;
}
.whiteTxt{
    color: black;
}
.caseGo{
    height: 75px;
    width: 75px;
    border: 1px solid black;
}

.caseGo img{
    width: 100%;
    height: 100%;
}

.inputUser{
    width: 50%;
    margin-bottom: 1%;
}

.bg-success{
    background-color: limegreen;
    color: black;
}
button {
 margin-top: 1%;
}
.btn-info{
        border: none;
    background-color: blue;
}
.btn-danger{
        border: none;
    background-color: red;
}
.btn-danger:hover{
    background-color: #fc5d5d;
}
.btn-success{
        border: none;
    background-color: green;
}
